* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(1rem + 0.25vw);
}

body {
  background-color: black;
  display: flex;
  color: white;
}

.messageBoard {
  background-color: #1e2838;
  margin: auto;
  width: min(85vw, 20rem);
  aspect-ratio: 2/3;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.messages {
  overflow-y: auto;
  border: solid 2px gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

form {
  margin-top: 0.5rem;
  border: solid 2px gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 0.5rem;
  width: 100%;
}

p {
  grid-column: 1/2;
}

textarea {
  resize: none;
}

input,
textarea {
  width: 100%;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

button {
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 0.25rem;
  color: gray;
  padding: 0.25rem;
}

.message:not(:first-child) {
  margin-top: 0.75rem;
}

.user {
  font-weight: 600;
}

.date {
  color: gray;
}

.text {
  margin-top: 0.25rem;
  display: inline-block;
  background-color: #434c5c;
  padding: 0.25rem;
  border-radius: 0.25rem;
  word-break: break-all;
}
